/* Define global color variables for both light and dark themes */
:root {
  --background-color: #f3f8fc;  
  --font-color: #333;
  --link-color: #0077FF; 
  --link-hover-color: #005bb5;
  --panel-bg: #ffffff;
  --border-color: #bfcad1;  
  --spotlight-bg: #edf5fa; 
  --stats-bg: #eff7fc;
  --prices-bg: #eef6fc;
  --about-bg: #e4ecf2; 
  --clock-bg: #ebf3f9;
  --map-center-bg: #eef5fb;
  --nearest-bg: #e9f2f8;
}

body.dark {
  --background-color: #1f2230;  
  --font-color: #f5f6f8;
  --link-color: #a0aaff;  
  --link-hover-color: #808bff;
  --panel-bg: #2a2d3f;  
  --border-color: #3a3c4e;  
  --spotlight-bg: #2f3240;  
  --stats-bg: #272930;
  --prices-bg: #25272e;
  --about-bg: #23252b;
  --clock-bg: #2f313d;
  --map-center-bg: #26282d;
  --nearest-bg: #25262a;
}

/* Global styling */
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: 'Raleway', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Styling headers */
h2 {
  font-size: 25px;
  border-bottom: 3px solid var(--border-color);
  padding-bottom: 10px;
  margin: 0px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 20px;
  margin: 15px 0;
}

/* Links styling */
a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* Main content container */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  width: 100%;
}

/* Left panel */
.left-panel {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 15px;
  padding: 20px 10px 20px 20px;
  background-color: var(--panel-bg);
  /* border-right: 1px solid var(--border-color); */
}

.spotlight, .stats, .latest-prices, .about {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.spotlight {
  background: var(--spotlight-bg);
}

.stats {
  background: var(--stats-bg);
}

.latest-prices {
  background: var(--prices-bg);
}

.about {
  background: var(--about-bg);
}

/* Refresh link */
#refresh-link {
  float: right;
  margin-top: -36px;
  margin-right: 5px;
}

/* Spotlight Logo */


/* Stats and Latest prices sections */
.stats p, .stats .stats-list, .latest-prices p, .latest-prices ul {
  margin: 10px 0;
  list-style: none;
  padding-left: 0;
}

.about ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.about li {
  margin-bottom: 12px;
  font-size: 1em;
}

.about a {
  color: var(--link-color);
  border-bottom: 1px dashed var(--link-color);
}

.about a:hover {
  color: var(--link-hover-color);
  border-bottom: 1px dashed var(--link-hover-color);
}


/* Middle panel */
.middle-panel {
  padding: 20px;
  background-color: var(--panel-bg);
}

#map {
  height: 100%;
  border-radius: 5px;
}


/* Right panel */
.right-panel {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 15px;
  padding: 20px 20px 20px 10px;
  background-color: var(--panel-bg);
  /* border-left: 1px solid var(--border-color); */
}

.clock, .map-center, .nearest {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.clock {
  background: var(--clock-bg);
}

.map-center {
  background: var(--map-center-bg);
}

.nearest {
  background: var(--nearest-bg);
}

.nearest-stations {
  border-bottom: 1px solid var(--border-color)
}

/* Header */
.page-header {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 0; /* Sticks to the top of the viewport */
  z-index: 1000; /* Ensures the header stays on top of other content */
  display: flex;
  justify-content: space-between; 
  align-items: center;       
  padding: 10px 20px;        
  background-color: var(--panel-bg);
  border-bottom: 1px solid var(--border-color);
}

.page-header h1 {
  margin: 7px 5px 5px 5px;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
}

.title-wrapper img {
  height: 45px;
  margin-right: 5px;
}

/* Light mode button styles */
button {
  background-color: #007BFF;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
}

button:hover {
  background-color: #0056b3;
}

/* Dark mode button styles */
body.dark button {
  background-color: #7aa0ff;
  color: #1f1f1f;
}

body.dark button:hover {
  background-color: #588bd9;
}